.footer-flex {
  position: fixed; 
  width: 100%;
  bottom: 0;
  height: 150px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #1b1919;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1b1919),
    to(rgb(52, 53, 54))
  );
  background: -o-linear-gradient(bottom, #1b1919, rgb(52, 53, 54));
  background: linear-gradient(to top, #1b1919, rgb(52, 53, 54));
}

.footer-text {
  margin-left: 30px;
  margin-top: 20px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;

  .footer-link {
    color: white;
    text-decoration: none;
  }
}

.footer-img {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}
